<p>list-product works!</p>


<table>
    <thead>
        <th>Stt</th>
        <th>Name</th>
        <th>Price</th>
        <th>Img</th>
        <th>Desc</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products , index as i">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><img src="{{product.img}}" alt=""></td>
            <td>{{product.description}}</td>
            <td><button (click)="HandleRemove(product.id)">XOA</button> <button><a href="/admin/product/{{product.id}}/edit">SUA</a></button></td>
        </tr>
    </tbody>
</table>